
/* ===== Global Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Body ===== */
body {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    background-color: snow;
    color: black;
    line-height: 1.7;
    padding: 60px 20px;
}

/* ===== Container ===== */
body > * {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* ===== Headings ===== */
h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    letter-spacing: 1px;
	text-align: center;
}

h2 {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom: 20px;
}

h4 {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

/* ===== Paragraphs ===== */
p {
    margin-bottom: 18px;
    font-size: 1.05rem;
}

/* ===== Links ===== */
a {
    color: #4da3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ===== Lists ===== */
ul {
    padding-left: 30px;
	margin-bottom: 10px;
}


/* ===== Images ===== */
img {
    display: block;
    max-width: 80%;
    border-radius: 10px;
}

/* ===== Details Toggle ===== */
details {
    background-color: lightslategray;
    padding: 20px;
    border-radius: 8px;
}

summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ===== Horizontal Rule ===== */
hr {
    border: none;
    height: 1.5px;
    background-color: #2c2f36;
}



/* Para los Bloques con texto y imagen : */


/* ===== Split Text + Image Block ===== */

.split-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 100px;
	animation: fadeIn 1s ease forwards;
    opacity: 0;
}

.split-text {
    flex: 1;
}

.split-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.split-image img {
    max-width: 300px;
    height: auto;
}

/* Highlight line */
.highlight {
    color: #4da3ff;
    font-weight: 600;
}

/* ===== Responsive ===== */

@media (max-width: 768px) {
    .split-block {
        flex-direction: column;
        text-align: center;
    }

    .split-image {
        margin-top: 20px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


blockquote {
    background-color: #f9f9f9; /* Color de fondo claro */
    border-left: 5px solid #4da3ff; /* Borde izquierdo */
    padding: 15px; /* Espaciado interno */
    font-style: italic; /* Estilo de cursiva */
    font-size: 1.1rem; /* Tamaño de fuente un poco más grande */
    color: #333; /* Color del texto */
}
